<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.nubia.activity" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".LoginActivity" >
        </activity>
        <activity android:name=".MyShareCourseDetailFillActivity" />
        <activity android:name=".MyShareCourseDetailDisplayActivity" />
        <activity
            android:name=".ManagerScoreActivity"
            android:label="@string/title_activity_manager_score" >
        </activity>
        <activity android:name=".EmptyActivity" />
        <activity android:name=".ManagerMySetting" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManagerScoreUserActivity"
            android:label="@string/title_activity_manager_score_user" >
        </activity>
        <activity
            android:name=".ManagerScoreCourseActivity"
            android:label="@string/title_activity_manager_score_course" />
        <activity
            android:name=".ManagerScoreUserDetailActivity"
            android:label="@string/title_activity_manager_score_user_detail" >
        </activity>
        <activity
            android:name=".ManagerScoreCourseDetailActivity"
            android:label="@string/title_activity_manager_score_course_detail" >
        </activity>
    </application>

</manifest>
