<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.nubia.activity">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/mm"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".MyShareCourseDetailDisplayActivity" />
        <activity
            android:name=".ManagerScoreActivity"
            android:label="@string/title_activity_manager_score"></activity>
        <activity android:name=".EmptyActivity" />
        <activity android:name=".ManagerMySetting">

        </activity>
        <activity
            android:name=".GuideActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".MainAdminActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainClientActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".admin.CourseAdminActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".admin.ExamAdminActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".admin.ShareAdminActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".admin.MyAdminActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".admin.CourseAdminActivity_1"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".admin.ExamAdminActivity_1"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".admin.ShareAdminActivity_1"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".admin.ShareAdminActivity_2"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".admin.MyAdminActivity_1"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".client.MyCourseClientActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".client.AllCourceClientActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".client.MyClientActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".client.AllCourceClientActivity_1"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".client.MyCourseClientActivity_1"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>


        <activity
            android:name=".client.MyCourseClientActivity_2"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".client.MyClientActivity_1"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>




        <activity android:name=".LoginTest"></activity>


        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>


        <activity android:name=".ManagerScoreUserActivity"></activity>
        <activity
            android:name=".ManagerScoreUserDetailActivity"
            android:label="@string/title_activity_manager_score_user_detail"></activity>
        <activity android:name=".ManagerScoreCourseDetailActivity"></activity>
        <activity
            android:name=".ManagerScoreCourseActivity"
            android:label="@string/title_activity_manager_score_course" />

        <activity
            android:name=".ManagerCreditActivity"
            android:label="@string/title_activity_manager_credit"></activity>
        <activity
            android:name=".ManagerCreditTotalActivity"
            android:label="@string/title_activity_manager_credit_total"></activity>
        <activity
            android:name=".ManagerCreditCourseActivity"
            android:label="@string/title_activity_manager_credit_course"></activity>
    </application>



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

</manifest>
